body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul.no-bullets,
ol.no-bullets {
  list-style: none;
  padding-left: 0;
}

body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
}

main {
  padding: 0px;
}

.js-object-log{
  height: 450px;
}

.landing-page-div-1 {
  text-align: center;
  justify-content: center;
  padding: 20px;
  margin-top: 120px;
}

.display-4, .moto {
  color: black;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.video-background {
  /* justify-content: center; */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.banner {
  background-color: rgba(29, 135, 202, 0.85);
  color: white;
  text-align: center;
  justify-content: center;
  padding: 20px;
  margin-top: 120px;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.landing-page-catchwords {
  border-radius: 100px;
  height: 330px;
  width: 330px;
}

.word {
  font-weight: bold;
  font-size: 20px;
  color: darkblue;
}

.worldwide-image {
  height: 300px;
  width: 500px;
  border-radius: 50px;
}

.worldwide-text {
  text-align: center;
  color: darkblue;
  font-weight: bold;
  font-size: 30px;
  font-family: Georgia, Times, 'Times New Roman', serif;
}
